<footer class="bg-dark text-white pt-4 pb-2 mt-auto">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
      
      <!-- Colonne 1 : Logo ou nom -->
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold text-center">Bibli'Handi</h5>
        <p class="text-center">© 2025 Tous droits réservés.</p>
      </div>
      
    </div>
  </div>
</footer>