<footer class="bg-dark text-white pt-4 pb-2 mt-auto">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <img src="/Design sans titre.png" alt="logo" width="100" height="100" class="mb-2" />
      <h5 class="fw-bold text-center mb-1">Bibli'Handi</h5>
      <p class="text-center mb-0">© 2025 Tous droits réservés.</p>
    </div>
  </div>
</footer>